<EuiButton @color="orange">Hello</EuiButton>

<EuiIcon @type="faceHappy" />

<EuiPikaday @onSelection={{this.setDate}} @value={{this.date}} />
<EuiText>
  <p>The selected date is:
    <EuiCode>{{this.date}}</EuiCode></p>
</EuiText>